# Eat Safe, Love

## Notebook Set Up

In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
ukfood = mongo['uk_food']

In [4]:
# review the collections in our database
print(ukfood.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = ukfood['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [7]:
# Find the establishments with a hygiene score of 20
query_hygiene20 = {"scores.Hygiene": 20}

# Use count_documents to display the number of documents in the result
print(establishments.count_documents(query_hygiene20))

# Display the first document in the results using pprint
print()
pprint(establishments.find(query_hygiene20))

41

<pymongo.cursor.Cursor object at 0x136392e60>

In [9]:
# Convert the result to a Pandas DataFrame
results = establishments.find(query_hygiene20)
hygiene20 = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print(hygiene20.shape)

# Display the first 10 rows of the DataFrame
hygiene20.head(10)

(41, 38)

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,67a36ec42fbeaa4a55050cbd,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,0.276940,50.769705,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,67a36ec42fbeaa4a5505103e,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,1.278721,51.857536,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,67a36ec42fbeaa4a55051348,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,1.159270,51.789429,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,67a36ec42fbeaa4a55051536,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,0.102020,50.770885,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,67a36ec42fbeaa4a55051545,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,0.101446,50.770724,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,67a36ec42fbeaa4a55051ee4,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,0.736349,51.541448,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,67a36ec42fbeaa4a55052105,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,0.712167,51.535007,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,67a36ec52fbeaa4a55053630,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,0.602364,51.591515,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,67a36ec52fbeaa4a55053a74,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,0.146450,51.185947,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,67a36ec62fbeaa4a55054286,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,0.462307,51.570050,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [11]:
# Find the establishments with London in the Local Authority and has a RatingValue greater than or equal to 4.
query_london_ratingvalue_greaterthan4 = {"LocalAuthorityName": {"$regex": "London"},
        "RatingValue": {"$gte": 4}}

# Use count_documents to display the number of documents in the result
print(establishments.count_documents(query_london_ratingvalue_greaterthan4))

# Display the first document in the results using pprint
print()
pprint(establishments.find(query_london_ratingvalue_greaterthan4))

33

<pymongo.cursor.Cursor object at 0x1363c2bc0>

In [12]:
# Convert the result to a Pandas DataFrame
results = establishments.find(query_london_ratingvalue_greaterthan4)
df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print(df.shape)

# Display the first 10 rows of the DataFrame
df.head(10)

(33, 38)

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,67a36ec52fbeaa4a550526d8,621707,0,PI/000025307,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,...,0.508551,51.369321,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,67a36ec52fbeaa4a550529fe,1130836,0,PI/000034075,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,...,0.249256,51.123623,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,67a36ec52fbeaa4a5505354b,293783,0,PI/000002614,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,...,0.561954,51.543831,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,67a36ec62fbeaa4a5505434b,1315095,0,PI/000036464,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,...,0.346337,51.464066,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,67a36ec62fbeaa4a5505434c,294474,0,PI/000014647,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,...,0.346325,51.464078,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,67a36ec62fbeaa4a55054a54,294900,0,PI/000019066,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,...,0.287555,51.504071,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,67a36ec72fbeaa4a55056b62,293756,0,PI/000002538,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,...,0.069286,51.501121,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,67a36ec72fbeaa4a55056f29,878523,0,PI/000029844,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,...,0.048006,51.503733,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,67a36ec72fbeaa4a55056f43,293772,0,PI/000002585,The Nuance Group (UK) Limited,Retailers - other,4613,Duty Free Shop Passenger Terminal,London City AirportRoyal DocksLondon,,...,0.047966,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,67a36ec72fbeaa4a55056f44,294606,0,PI/000016185,WH Smith,Retailers - other,4613,London City Airport,Silvertown London,,...,0.047966,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [13]:
# Search within 0.01 degree on either side of the latitude and longitude of Penang Flavours.
# Rating value = 5
# Sort by asc hygiene score
# Top 5 establishments 

search_radius = 0.01
latitude = 51.49014200
longitude = 0.08384000

queries = {"geocode.latitude": {"$gte": latitude - search_radius, "$lte": latitude + search_radius},
        "geocode.longitude": {"$gte": longitude - search_radius, "$lte": longitude + search_radius},
        "RatingValue": 5}

sort = [("scores.Hygiene", 1)]
limit = 5

# Print the results
# Use count_documents to display the number of documents in the result
print(establishments.count_documents(queries))

# Display the first document in the results using pprint
print()
pprint(establishments.find(queries).sort(sort).limit(limit)[0])

87

{'AddressLine1': '144 - 146 Plumstead High Street',
 'AddressLine2': '',
 'AddressLine3': 'Plumstead',
 'AddressLine4': 'Greenwich',
 'BusinessName': 'Iceland',
 'BusinessType': 'Retailers - supermarkets/hypermarkets',
 'BusinessTypeID': 7840,
 'ChangesByServerID': 0,
 'Distance': 4646.946071297699,
 'FHRSID': 695223,
 'LocalAuthorityBusinessID': 'PI/000178842',
 'LocalAuthorityCode': '511',
 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
 'LocalAuthorityName': 'Greenwich',
 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'SE18 1JQ',
 'RatingDate': '2019-11-13T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('67a36ec72fbeaa4a550564ef'),
 'geocode': {'latitude': 51.4871482849121, 'longitude': 0.0924199968576431},
 'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/695223',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 5}}

In [14]:
# Convert result to Pandas DataFrame
results = establishments.find(queries).sort(sort).limit(limit)
df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print(df.shape)

# Display the first 5 rows of the DataFrame
df.head(5)

(5, 38)

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,67a36ec72fbeaa4a550564ff,1380578,0,14425,Howe and Co Fish and Chips - Van 17,Mobile caterer,7846,Restaurant And Premises 107A Plumstead High St...,,Plumstead,...,0.092537,51.487534,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,67a36ec72fbeaa4a55056537,694478,0,PI/000086506,Atlantic Fish Bar,Takeaway/sandwich shop,7844,35 Lakedale Road,,Plumstead,...,0.091216,51.486730,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,67a36ec72fbeaa4a55056534,695241,0,PI/000179088,Plumstead Manor Nursery,Caring Premises,5,Plumstead Manor School Old Mill Road,,Plumstead,...,0.085994,51.481518,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,67a36ec72fbeaa4a550564ef,695223,0,PI/000178842,Iceland,Retailers - supermarkets/hypermarkets,7840,144 - 146 Plumstead High Street,,Plumstead,...,0.092420,51.487148,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,67a36ec72fbeaa4a5505651c,694609,0,PI/000116619,Volunteer,Pub/bar/nightclub,7843,130 - 132 Plumstead High Street,,Plumstead,...,0.092080,51.487344,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [15]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
query_hygiene0 = {'$match': {'scores.Hygiene': 0
                         }
              }

group_query_local_authority = {'$group': {'_id': {
                                    'LocalAuthorityName': "$LocalAuthorityName"
                                },
                          'num_restaurants': { '$sum': 1 }, 
                         }
              }

sort_values = {'$sort': { 'num_restaurants': -1
                        }
              }

pipeline = [query_hygiene0, group_query_local_authority, sort_values]

# Print the number of documents in the result
results = list(establishments.aggregate(pipeline))

# Print the first 10 results
pprint(results[0:10])

[{'_id': {'LocalAuthorityName': 'Thanet'}, 'num_restaurants': 1130},
 {'_id': {'LocalAuthorityName': 'Greenwich'}, 'num_restaurants': 882},
 {'_id': {'LocalAuthorityName': 'Maidstone'}, 'num_restaurants': 713},
 {'_id': {'LocalAuthorityName': 'Newham'}, 'num_restaurants': 711},
 {'_id': {'LocalAuthorityName': 'Swale'}, 'num_restaurants': 686},
 {'_id': {'LocalAuthorityName': 'Chelmsford'}, 'num_restaurants': 680},
 {'_id': {'LocalAuthorityName': 'Medway'}, 'num_restaurants': 672},
 {'_id': {'LocalAuthorityName': 'Bexley'}, 'num_restaurants': 607},
 {'_id': {'LocalAuthorityName': 'Southend-On-Sea'}, 'num_restaurants': 586},
 {'_id': {'LocalAuthorityName': 'Tendring'}, 'num_restaurants': 542}]

In [16]:
# Convert the result to a Pandas DataFrame
df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print(df.shape)

# Display the first 10 rows of the DataFrame
df.head(10)

(55, 2)

   num_restaurants _id.LocalAuthorityName
0             1130                 Thanet
1              882              Greenwich
2              713              Maidstone
3              711                 Newham
4              686                  Swale
5              680             Chelmsford
6              672                 Medway
7              607                 Bexley
8              586        Southend-On-Sea
9              542               Tendring